html,
body {
    font-family: sans-serif;
    font-size: 3vh;
    color: #303030;
}

.container {
    grid-template-areas: auto;
}

h1 {
    margin: 0;
    grid-column-start: 1;
    grid-column-end: 5;
    border-style: solid;
    border-color: #00a000;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding-top: 0.5em;

}

section {
    margin: 0 1.5% 24px 1.5%;
    grid-column-start: 1;
    grid-column-end: 3;
    display: block;
    text-align: left;
    border-style: solid;
    border-radius: 6px;
    border-color: #00a000;
    padding: 24px 15px;

}

footer {
    margin: 0 1.5% 24px 1.5%;
    display: block;
    border-style: solid;
    border-radius: 6px;
    border-color: #00a000;
    padding: 24px 15px;
}