html,
body {
    margin: 0;
    font-family: Poppins, sans-serif;
    font-size: 2vh;
    color: white;
    background-color: rgb(24, 1, 95);
    padding-top: 30px;
    background-image: url("../images/background1.jpg");
}

header>div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 1em;
    display: flex;
    justify-content: space-between;
    text-align: right;
}

header>div>nav {
    color: aliceblue;
}

header>div>span {
    color: aliceblue;
    text-transform: uppercase;
    font-size: 2em;
    padding: left;
}

main {
    font-size: 2em;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, calc(-50% + 2em));
    white-space: nowrap;
    text-align: center;
}

.hit {
    width: 10em;
    height: 5ex;
    background-color: rgb(238, 82, 217);
    border: 2px solid rgb(238, 82, 217);
    border-radius: 10px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.hit:hover {
    background-color: rgb(241, 127, 209);
}